$item-width: 200px;
$item-img--height: 220px;

@import "../mixins.scss";

.shop {
  display: grid;
  grid-template-columns: repeat(4, $item-width);
  gap: 2rem;
  justify-content: center;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, $item-width);
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, $item-width);
  }

  @media (max-width: 500px) {
    grid-template-columns: $item-width;
  }

  .item {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    border-radius: 6px;
    overflow: hidden;

    &--img {
      display: inline-block;
      width: $item-width;
      height: $item-img--height;
    }
  }

  .item--details {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item--title {
      font-size: 1.8rem;
    }
    .item--description {
      font-size: 1.6rem;
    }
    .buy-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .price {
        font-size: 2.4rem;
        font-weight: 700;
      }
      .quantity-container {
        @include ammount-container;

        .btn-quantity {
          @include btn-ammount;

          &--remove {
            @include btn-ammount-remove();
          }
          &--add {
            @include btn-ammount-add();
          }
        }
        .quantity {
          @include ammount;
        }
      }
    }
  }
}
